<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Jasy.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0EC0672145BB899C5B01C23AEB3F261F06D3C7D3</string>
				<key>dateExpires</key>
				<string>3/3/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0EC0672145BB899C5B01C23AEB3F261F06D3C7D3</string>
						<key>dateExpires</key>
						<string>3/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LXE5SAW38H</string>
						<key>name</key>
						<string>Vladimir Espinola</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0EC0672145BB899C5B01C23AEB3F261F06D3C7D3</string>
						<key>dateExpires</key>
						<string>3/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LXE5SAW38H</string>
						<key>name</key>
						<string>Vladimir Espinola</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0EC0672145BB899C5B01C23AEB3F261F06D3C7D3</string>
						<key>dateExpires</key>
						<string>3/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LXE5SAW38H</string>
						<key>name</key>
						<string>Vladimir Espinola</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0EC0672145BB899C5B01C23AEB3F261F06D3C7D3</string>
						<key>dateExpires</key>
						<string>3/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Rswift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LXE5SAW38H</string>
						<key>name</key>
						<string>Vladimir Espinola</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0EC0672145BB899C5B01C23AEB3F261F06D3C7D3</string>
						<key>dateExpires</key>
						<string>3/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LXE5SAW38H</string>
						<key>name</key>
						<string>Vladimir Espinola</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0EC0672145BB899C5B01C23AEB3F261F06D3C7D3</string>
						<key>dateExpires</key>
						<string>3/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LXE5SAW38H</string>
						<key>name</key>
						<string>Vladimir Espinola</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>LXE5SAW38H.com.vel.jasy</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>LXE5SAW38H</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Jasy.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e7014496-29d7-40c1-9c1d-3bb55bfa74e5</string>
				<key>name</key>
				<string>Jasy Distribution</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>LXE5SAW38H</string>
				<key>name</key>
				<string>Vladimir Espinola</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
